<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- spring bean cfgs -->
	<!-- dependent class cfgs asspring bean -->
	<bean id="date" class="java.util.Date"/>
	
	<!-- target class cfgs as spring bean -->
	<bean id="wmg" class="com.nit.beans.WishMessageGenerator">
		<property name="date" ref="date"/>          <!-- for setter injection -->
	</bean>
</beans>
